@inject IViewLocalizer localizer
@{ 
    ViewData["Title"] = "Rquire Email Confirm";
}

<div class="alert alert-success text-center">
     <h4>
         @localizer["EmailValidConfirm"]
     </h4>
</div>